<!DOCTYPE html>
<html>
<head>
  <title>Splices</title>
  <%= stylesheet_link_tag    "splices/application", media: "all" %>
  <%= javascript_include_tag "splices/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
